<div class="container">
    <div class="page-header">
        <h1>PDF Translator</h1>
    </div>

    <div class="upload-section">
    <label for="pdfUpload" class="upload-label">
        <span>Choose a PDF file or drag & drop here</span>
    </label>
    <input type="file" id="pdfUpload" accept=".pdf" (change)="onFileSelected($event)" class="file-input">
</div>


    <div class="content-section">
        <div class="text-panel h-100">
            <ng-container>
                <h3>Input Text</h3>
                <textarea [(ngModel)]="originalText" class="text-content editable w-100"
                    placeholder="Extracted text will appear here..." *ngIf="!isTextExtractingInProgress; else textExtractingInProgress">
          </textarea>
            </ng-container>
        </div>

        <div class="controls">
            <select [(ngModel)]="targetLanguage" class="language-select">
                <option value="">Select Language</option>
                <option *ngFor="let language of languages" [value]="language.name">{{language.name}}</option>
            </select>
            <button (click)="translate()" [disabled]="!originalText || !targetLanguage" class="translate-btn">Translate →</button>
            <button (click)="downloadPdf()" class="download-btn" [disabled]="!translatedText">Download PDF</button>
        </div>

        <div class="text-panel" *ngIf="!isTranslationInProgress && translatedText; else translationInProgress">
            <h3 *ngIf="translatedText">Translated Text</h3>
            <ng-container>
                <div class="text-content" [innerHtml]="translatedText"></div>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #translationInProgress>
    <div class="animation" *ngIf="isTranslationInProgress">
        <div class="container">
            <div class="h1Container">
              <div class="cube h1 w1 l1">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h1 w1 l2">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h1 w1 l3">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h1 w2 l1">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h1 w2 l2">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h1 w2 l3">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h1 w3 l1">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h1 w3 l2">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h1 w3 l3">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
            </div>
            
            <div class="h2Container">
          
              <div class="cube h2 w1 l1">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h2 w1 l2">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h2 w1 l3">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h2 w2 l1">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h2 w2 l2">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h2 w2 l3">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h2 w3 l1">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h2 w3 l2">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h2 w3 l3">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
            </div>
            
            <div class="h3Container">
          
              <div class="cube h3 w1 l1">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h3 w1 l2">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h3 w1 l3">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h3 w2 l1">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h3 w2 l2">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h3 w2 l3">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h3 w3 l1">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h3 w3 l2">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
          
              <div class="cube h3 w3 l3">
                <div class="face top"></div>
                <div class="face left"></div>
                <div class="face right"></div>
              </div>
            </div>
            
        </div>
    </div>
</ng-template>

<ng-template #textExtractingInProgress>
    <div class="d-flex align-items-center justify-content-center min-h-300">
        <div class="loader"></div>
    </div>
</ng-template>